<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forpet.mapper.AdminOrderMapper">

	<!-- 검색조건 쿼리 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="cri.typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'O'.toString()">
							ODR_NUMBER like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'M'.toString()">
							ODR_NAME like '%' || #{cri.keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 날짜조건 검색 쿼리 -->
	<sql id="period">
		<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')">
			<![CDATA[
			ODR_DATE >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
			
			AND 
		
			ODR_DATE < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
			
			AND 
			]]>
		</if>
	</sql>

	<!-- 주문 목록 : 페이징쿼리(인덱스힌트 구문) -->
	<select id="getOrderList" resultType="com.forpet.domain.OrderVO">
	
		<![CDATA[
		SELECT 
			RN, ODR_NUMBER, MEM_ID, ODR_NAME, ODR_PHONE, ODR_POSTCODE, ODR_ADDR, ODR_ADDR_D, ODR_TOTAL_PRICE, ODR_DATE, ODR_MESSAGE, ODR_STATUS, PAY_STATUS, CS_STATUS

		FROM (
			SELECT  /*+ INDEX_DESC(ORDER_TBL PK_ODR_NUMBER)*/ ROWNUM RN, ODR_NUMBER, MEM_ID, ODR_NAME, ODR_PHONE, ODR_POSTCODE, ODR_ADDR, ODR_ADDR_D, ODR_TOTAL_PRICE, ODR_DATE, ODR_MESSAGE, ODR_STATUS, PAY_STATUS, CS_STATUS
			FROM ORDER_TBL
		WHERE  
		]]>    
		
		<include refid="period"></include> 
		<include refid="criteria"></include> 
		 
		<![CDATA[ 
		   
		         ROWNUM <= #{cri.pageNum} * #{cri.amount}
		)
		WHERE 
			RN > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
		
	</select>
	
	<!-- 주문 데이터 개수 : 페이징구현 사용 -->
	<select id="getOrderTotalCount" parameterType="com.forpet.dto.Criteria" resultType="int">
		
		SELECT COUNT(*) FROM ORDER_TBL WHERE
		
		<include refid="period"></include> 
		<include refid="criteria"></include> 
		
		ODR_NUMBER > 0
		
	</select>
	
	<!-- 주문 배송상태 변경  -->
	<update id="orderStatusChange">
	
		UPDATE
			ORDER_TBL
		SET
			ODR_STATUS = #{odr_status}
		WHERE 
			ODR_NUMBER = #{odr_number}
	
	</update>

	<!-- 선택한 주문정보 삭제 -->
	<!-- 1) 주문테이블 삭제 -->
	<delete id="orderDelete" parameterType="long">
	
		DELETE FROM 
			ORDER_TBL
		WHERE
			ODR_NUMBER = #{odr_number}
			
	</delete>
	
	<!-- 2) 주문상세테이블 삭제 -->
	<delete id="orderDetailDelete" parameterType="long">
	
		DELETE FROM 
			ORDER_DETAIL_TBL
		WHERE
			ODR_NUMBER = #{odr_number}
			
	</delete>
	
	<!-- 3) 결제테이블 삭제 -->
	<delete id="paymentDelete" parameterType="long">
	
		DELETE FROM 
			PAYMENT_TBL
		WHERE
			ODR_NUMBER = #{odr_number}
			
	</delete>
	
	<!-- 주문상세 내역 : 주문정보 -->
	<select id="getOrderInfo" resultType="com.forpet.domain.OrderVO">
	
		SELECT
			ODR_NUMBER, 
			MEM_ID, 
			ODR_NAME, 
			ODR_PHONE, 
			ODR_POSTCODE, 
			ODR_ADDR, 
			ODR_ADDR_D, 
			ODR_TOTAL_PRICE, 
			ODR_DATE, 
			ODR_MESSAGE, 
			ODR_STATUS, 
			PAY_STATUS, 
			CS_STATUS
		FROM
			ORDER_TBL
		WHERE
			ODR_NUMBER = #{odr_number}
	
	
	</select>
	
	<!-- 주문상세 내역 : 결제정보  -->
	<select id="getPaymentInfo" resultType="com.forpet.domain.PaymentVO">
	
		SELECT
			PAY_CODE, 
			ODR_NUMBER, 
			PAY_METHOD, 
			PAY_DATE, 
			PAY_TOTAL_PRICE, 
			PAY_REST_PRICE, 
			PAY_NOBANK_PRICE, 
			PAY_NOBANK_USER, 
			PAY_NOBANK
		FROM
			PAYMENT_TBL
		WHERE
			ODR_NUMBER = #{odr_number}
		
	</select>
	
	<!-- 주문상품정보 -->
	<select id="getOrderProductInfo" parameterType="long" resultType="map">
	
		SELECT 
			P.PDT_IMG_FOLDER, P.PDT_IMG, P.PDT_NAME, P.PDT_PRICE, 
			OD.ODR_NUMBER, OD.PDT_NUMBER, OD.ODR_AMOUNT, OD.ODR_PRICE, 
			O.ODR_STATUS, O.PAY_STATUS  
		FROM 
			ORDER_TBL O INNER JOIN ORDER_DETAIL_TBL OD
		ON 
			O.ODR_NUMBER = OD.ODR_NUMBER
			INNER JOIN PRODUCT_TBL P
		ON 
			OD.PDT_NUMBER = P.PDT_NUMBER
		WHERE 
			O.ODR_NUMBER = #{odr_number}
	
	</select>
	
	
	<!-- 주문상품 개별취소 -->
	<!-- 1) 주문상세테이블 : 주문 데이터 삭제 -->
	<delete id="orderDetailProductDelete">
	
		DELETE FROM 
			ORDER_DETAIL_TBL
		WHERE 
			ODR_NUMBER = #{odr_number} AND PDT_NUMBER = #{pdt_number}
	
	</delete>
	
	<!-- 2) 주문테이블 : 총 주문금액 변경 -->
	<update id="orderTotalPriceUpdate">
		
		UPDATE 
			ORDER_TBL
		SET
			ODR_TOTAL_PRICE = ODR_TOTAL_PRICE - #{odr_price}
		WHERE 
			ODR_NUMBER = #{odr_number}
			
	</update>
	
	<!-- 3) 결제테이블 : 총 결제금액 변경 -->
	<update id="paymentTotalPriceUpdate">
	
		UPDATE 
			PAYMENT_TBL
		SET
			PAY_TOTAL_PRICE = PAY_TOTAL_PRICE - #{odr_price}
		WHERE 
			ODR_NUMBER = #{odr_number}
	
	</update>	
	
	<!-- 주문상세테이블의 데이터 1개인지 확인 -->
	<select id="getOrderDetailProductCount" parameterType="long" resultType="int">
	
		SELECT
			COUNT(*)
		FROM
			ORDER_DETAIL_TBL
		WHERE 
			ODR_NUMBER = #{odr_number}
		
	</select>
	
	<!-- 주문변경 목록 : 페이징쿼리(인덱스힌트 구문) -->
	<select id="getOrderChangeList" resultType="com.forpet.domain.OrderVO">
	
		<![CDATA[
		SELECT 
			RN, ODR_NUMBER, MEM_ID, ODR_NAME, ODR_PHONE, ODR_POSTCODE, ODR_ADDR, ODR_ADDR_D, ODR_TOTAL_PRICE, ODR_DATE, ODR_STATUS, ODR_EVENT_DATE, EVENT_NAME

		FROM (
			SELECT  /*+ INDEX_DESC(ORDER_TBL PK_ODR_NUMBER)*/ ROWNUM RN, ODR_NUMBER, MEM_ID, ODR_NAME, ODR_PHONE, ODR_POSTCODE, ODR_ADDR, ODR_ADDR_D, ODR_TOTAL_PRICE, ODR_DATE, ODR_STATUS, ODR_EVENT_DATE, EVENT_NAME
			FROM ORDER_HISTORY_TBL
		WHERE  
		]]>    
		
		<include refid="period"></include> 
		<include refid="criteria"></include> 
		 
		<![CDATA[ 
		   
		         ROWNUM <= #{cri.pageNum} * #{cri.amount}
		)
		WHERE 
			RN > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
		
	</select>
	
	<!-- 주문변경 데이터 개수 : 페이징구현 사용 -->
	<select id="getOrderChangeTotalCount" parameterType="com.forpet.dto.Criteria" resultType="int">
		
		SELECT COUNT(*) FROM ORDER_HISTORY_TBL WHERE
		
		<include refid="period"></include> 
		<include refid="criteria"></include> 
		
		ODR_NUMBER > 0
		
	</select>
	
</mapper>