<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forpet.mapper.UserProductMapper">

	<!-- 1차 카테고리 리스트  -->
	<select id="getCategoryList" resultType="com.forpet.domain.CategoryVO">
		
		SELECT 
			CTG_CODE, CTG_CODE_PRT, CTG_NAME
		FROM 
			CATEGORY_TBL
		WHERE 
			CTG_CODE_PRT IS NULL
	
	</select>
	
	<!-- 2차 카테고리 리스트  -->
	<select id="getSubCategoryList" parameterType="int" resultType="com.forpet.domain.CategoryVO">
		
		SELECT 
			CTG_CODE, CTG_CODE_PRT, CTG_NAME
		FROM 
			CATEGORY_TBL
		WHERE 
			CTG_CODE_PRT = #{ctg_code}
	
	</select>
	
	<!-- 검색조건 쿼리 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="cri.typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							PDT_NAME like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							PDT_COMPANY like '%' || #{cri.keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 1) 2차 카테고리 : 상품 목록  - 페이징쿼리(인덱스힌트 구문) -->
	<select id="getProductListBySubCategory" parameterType="com.forpet.dto.Criteria" resultType="com.forpet.domain.ProductVO">
		
		<![CDATA[
		SELECT 
			RN, PDT_NUMBER, CTG_CODE, CTG_CODE_PRT, PDT_NAME, PDT_PRICE, PDT_DISCOUNT, PDT_COMPANY, PDT_IMG_FOLDER, PDT_IMG, PDT_DETAIL, PDT_BUY_AMOUNT, PDT_BUY_ACCEPT, PDT_SIGN_DATE, PDT_UPDATE_DATE, RVW_CNT
		FROM (
			SELECT  /*+ INDEX_DESC(PRODUCT_TBL PK_PDT_NUMBER)*/ ROWNUM RN, PDT_NUMBER, CTG_CODE, CTG_CODE_PRT, PDT_NAME, PDT_PRICE, PDT_DISCOUNT, PDT_COMPANY, PDT_IMG_FOLDER, PDT_IMG, PDT_DETAIL, PDT_BUY_AMOUNT, PDT_BUY_ACCEPT, PDT_SIGN_DATE, PDT_UPDATE_DATE, RVW_CNT 
			FROM PRODUCT_TBL
			WHERE CTG_CODE = #{ctg_code} AND
		]]>    
		 <include refid="criteria"></include> 
		 
		<![CDATA[ 
		   
		         ROWNUM <= #{cri.pageNum} * #{cri.amount}
		)
		WHERE 
			RN > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
		
	</select>
	
	<!-- 2) 2차 카테고리 : 상품 데이터 개수 (페이징구현사용) -->
	<select id="getProductCountBySubCategory" parameterType="com.forpet.dto.Criteria" resultType="int">
		
		SELECT COUNT(*) FROM PRODUCT_TBL WHERE CTG_CODE = #{ctg_code} AND
		
		<include refid="criteria"></include> 
		
		PDT_NUMBER > 0
		
	</select>

	<!-- 모달상자 : 상품코드에 해당하는 상품정보  -->
	<select id="getProductByNum" parameterType="int" resultType="com.forpet.domain.ProductVO">
	
		SELECT 
			PDT_NUMBER, 
			CTG_CODE, 
			CTG_CODE_PRT, 
			PDT_NAME, 
			PDT_PRICE, 
			PDT_DISCOUNT, 
			PDT_COMPANY, 
			PDT_IMG_FOLDER, 
			PDT_IMG, 
			PDT_DETAIL,
			PDT_BUY_AMOUNT, 
			PDT_SELL_AMOUNT, 
			PDT_BUY_ACCEPT, 
			PDT_SIGN_DATE, 
			PDT_UPDATE_DATE, 
			RVW_CNT
		FROM 
			PRODUCT_TBL		
		WHERE 
			PDT_NUMBER = #{pdt_number}
			
	</select>
	
	<!-- 베스트 카테고리 상품 목록 -->
	<select id="bestCategoryList" resultType="com.forpet.domain.ProductVO">
		
		<![CDATA[ 
		SELECT 
			P.PDT_NUMBER, 
			P.CTG_CODE, 
			P.CTG_CODE_PRT, 
			P.PDT_NAME, 
			P.PDT_PRICE, 
			P.PDT_DISCOUNT, 
			P.PDT_COMPANY, 
			P.PDT_IMG_FOLDER, 
			P.PDT_IMG, 
			P.PDT_DETAIL,
			P.PDT_BUY_AMOUNT, 
			P.PDT_BUY_ACCEPT, 
			P.PDT_SIGN_DATE, 
			P.PDT_UPDATE_DATE, 
			P.RVW_CNT
		FROM 	
			PRODUCT_TBL P INNER JOIN CATEGORY_TBL C
		ON
			P.CTG_CODE = C.CTG_CODE	
		WHERE 
			C.CTG_CODE IN
				(SELECT CTG_CODE FROM CATEGORY_TBL WHERE CTG_CODE = #{ctg_code})
		AND ROWNUM < 9
		]]>
		
	</select>

</mapper>